[Install]
WantedBy=multi-user.target

[Unit]
Description=DNS Proxy For People in PRC
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/prcdns -H 0.0.0.0 --tcp_udp both --proxy 127.0.0.1:1080 --myip 114.114.114.114
Restart=always
RestartSec=15s
LimitNOFILE=65535
